*{
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: inline-block; /* importante */
    max-width: 1200px;
  
}
body{
    background-color: black;
    height: 100vh;

}
span{
   color: rgba(241, 170, 15, 0.856);
}

.intro{
    text-align: center;
    

}

.intro p{
   margin-top: 35px;
   margin-left: 20px;
   margin-right: 20px;
   font-size: 18px;
   word-spacing: 2px;

}
.video-legenda{
    text-align: center;
 }
 
/* FORRÓ */

.forro p{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    text-align: justify;

}

.forro h2{
    margin-top: 60px;
    margin-left: 80px;
}

/* FREVO */
.frevo{
    margin-top: 20px;
}

.frevo p{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    text-align: justify;

}

.frevo h2{
    margin-top: 60px;
    margin-left: 80px;
}

/* MARACATU */

.maracatu{
    margin-top: 20px;
}

.maracatu p{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    text-align: justify;

}

.maracatu h2{
    margin-top: 60px;
    margin-left: 80px;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 700px){   
    .intro {
        padding: 40px 4%;
       
    }
    .intro p{
        text-align: center;
        margin-left: 10px;
        margin-right: 10px
    }
    h1{
        font-size: 24px;
        line-height: 24px;
    }

    .forro p,
    .frevo p,
    .maracatu p {
        margin: 15px 10px;
        font-size: 15px ;
    }

    .forro h2,
    .frevo h2,
    .maracatu h2 {
        margin-left: 10px;
        font-size: 22px;
    }

    .video-legenda video {
        width: 100%;
        height: auto;
    }


    
}